#map{
    width: 75%;
    height:600px;
    float: left;
}
.side{
    width: 25%;
    height:600px;
    float: right;
}
header{
    background-color: #e6ffee;
    color: #3bb300;
    font-size: 2em;
    text-align: center;
    margin: 0px, 0px, 0px, 0px;
    width: 100%;
}
 .side_title {
        padding: 20px 5px 10px 5px;
        color: #bf8040;
        font-size: 2em;
    }
.location_list {
        padding: 3px 5px 5px 5px;
        color: #1e829b;
    }
body{
    margin: 0;
}

@media screen and (min-width:300px) and (max-width:450px) {
    #map {
        width: 48%;
    }
    .side {
        width: 50%;
        float: left;
    }
}
